body {
  color: #3c544a;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cce3de;
}

header h2 {
  padding: 1rem;
  margin-bottom: 25px;
  background-color: black;
  color: #eaf4f4;
  text-align: center;
  font-size: 3rem;

  background-color: #577769;
}

main {
  margin: 0 1.3rem 5rem 1.3rem;
}
