<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <!-- Set the page title -->
    <title>Class 21 - Vue.JS Product Page</title>

    <!-- Set the charset we're using to UTF-8 -->
    <meta charset="UTF-8" />

    <!-- Set the screens default zoom / scale to 1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Specifies the document mode for Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Set the Favicon  -->
    <link rel="icon" href="./images/favicon/rocket.svg" type="image/svg+xml" />

    <!-- We are using a CSS Reset file to standardize browser default css -->
    <link rel="stylesheet" href="./reset.css" />

    <!-- This is where all of our awesome CSS code goes -->
    <link rel="stylesheet" href="./styles.css" />

    <!-- This is a development version of Vue.js! -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--
      Credit Photo by <a href="https://unsplash.com/@lore_schodts?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lore Schodts</a> on <a href="https://unsplash.com/photos/8BNGxSAQd6M?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    -->
  </head>
  <body>
    <div id="app">
      <header>
        <div class="nav-bar">
          <img src="./images/logo.png" alt="Donut Logo" />
          <h2>donuts</h2>
          <div class="cart">
            <img src="./images/bag.png" alt="Donut Logo" />
            <p>
              <span class="sr-only">Number of items in cart: </span>{{
              itemsInCart }}
            </p>
          </div>
        </div>
      </header>
      <main>
        <ul class="products">
          <li v-for="(product, index) in products" class="product">
            <img
              class="image"
              v-bind:src="product.imageSrc"
              v-bind:alt="product.title"
            />
            <div class="content">
              <h2>{{ product.title }}</h2>
              <section>
                <h3 class="sr-only">Product description</h3>

                <!-- INDEX comes from our v-for loop -->
                <p v-if="isInStock(index)" class="badge in-stock">In stock</p>
                <p v-else class="badge out-stock">Out of stock</p>

                <p>{{ product.description }}</p>
              </section>

              <section>
                <h3 class="sr-only">Product price</h3>
                <div class="price-section">
                  <p class="price">${{product.price}}</p>
                  <button
                    v-bind:disabled="!isInStock(index)"
                    class="btn-primary"
                    @click="addToCart(index)"
                  >
                    Add to cart
                  </button>
                </div>
              </section>
            </div>
          </li>
        </ul>
      </main>
    </div>

    <script type="module" src="./main.js"></script>
  </body>
</html>
