/*
  CSS FILE
*/

/*
 VARIABLES
*/
:root {
  /*
    Core colours
    https://coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
  */

  --colour-gray-darker: #1d232e;
  --colour-gray-dark: #293241;
  --colour-orange: #ee6c4d;
  --colour-blue-lightest: #e0fbfc;
  --colour-blue-light: #98c1d9;
  --colour-blue-main: #638092;
  --colour-blue-dark: #3d5a80;

  --colour-purple-900: #1a001c;
  --colour-purple-800: #250327;
  --colour-purple-700: #2f0631;
  --colour-purple-600: #3a093c;
  --colour-purple-500: #440c46;
  --colour-purple-400: #59125b;
  --colour-purple-300: #6e1870;
  --colour-purple-200: #902092;

  --colour-purple-light: #d230d5;

  --colour-purple-lighter: #cdb4db;
  --colour-pink-light: #ffc8dd;
  --colour-pink: #ffafcc;
  --colour-blue-100: #bde0fe;
  --colour-blue: #a2d2ff;
  --colour-blue-dark: #314354;
  --colour-beige: #f8faf9;
  --colour-white: #fcfffe;

  /* Header configuration */
  --header-heading-colour: var(--colour-blue-light);
  --header-background-colour: var(--colour-gray-darker);

  /* Body configuration */
  --body-default-colour: var(--colour-blue-light);
  --body-background-colour: var(--colour-gray-darker);
}

/*
 CONTAINER
*/
.container {
  max-width: 750px;
  width: 100%;
  margin: 0px auto;
  padding: 1rem;

  /* border-left: 1px solid red;
  border-right: 1px solid red; */
}

@media screen and (min-width: 600px) {
  .container {
    padding: 2rem;
  }
}

/*
 EVENTS
*/

.events {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.events .event {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 15px;
  /* border: 3px solid var(--colour-blue); */
  background-color: var(--colour-gray-dark);
}

.events .event h2 {
  font-size: 1.8rem;
  color: var(--colour-blue);
}

.events .event h2.team {
  color: var(--colour-blue-light);
}

.events .event h2.simple {
  color: var(--colour-blue-main);
}

.events .event ul.team-members {
  list-style-type: none;
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.events .event ul.team-members li {
  color: var(--colour-blue-main);
}

.events .event ul.team-members li + * {
  margin-left: 0.5rem;
}

.events .event ul.team-members li a {
  color: var(--colour-blue-main);
  transition: all 300ms ease-in-out;
}

.events .event ul.team-members li a:hover {
  color: var(--colour-blue);
}

.events .event .team-code-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.events .event ul.project-info {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

.events .event ul.project-info li {
  display: flex;
}

.events .event .team-code-link svg {
  margin-right: 0.5rem;
  height: auto;
  width: 1rem;
  fill: var(--colour-blue);
}

.events .event a.team-code-link {
  color: var(--colour-blue);
  transition: all 300ms ease-in-out;
}

.events .event a.team-code-link:hover {
  color: var(--colour-blue-light);
}

.events .event .time {
  --event-colours: var(--colour-orange);

  font-size: 0.8rem;
  color: var(--event-colours);
  display: inline-block;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0.1rem 0.8rem;
  border: 1px solid var(--event-colours);
  border-radius: 8px;
}

/*
 MAIN
*/

main h1 {
  color: var(--colour-blue-light);
  font-size: 3.5rem;
}

/*
 HERO
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0rem;
  padding: 0rem 0rem;

  background: var(--colour-orange);
  border-radius: 15px;
}

/*
Photo by cottonbro studio: https://www.pexels.com/photo/woman-in-white-long-sleeve-shirt-sitting-beside-woman-in-red-shirt-4778621/
*/

.hero h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--colour-purple-200);
}

@media screen and (min-width: 600px) {
  .hero h1 {
    font-size: 6rem;
  }
}

.hero svg {
  padding: 1rem;
  height: 400px;
  width: auto;
  fill: var(--colour-gray-dark);
  border-radius: 100%;
}

@media screen and (min-width: 600px) {
  .hero svg {
    height: 500px;
  }
}

/*
 HEADER
*/
header {
  background-color: var(--header-background-colour);
  color: var(--header-heading-colour);
}

header .nav-bar {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header .nav-bar .logo {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
  fill: var(--header-heading-colour);
}

header .nav-bar h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  /* header {
    /* padding: 2rem;
  } */

  header .nav-bar h2 {
    font-size: 1.8rem;
  }
}

/*
 BODY
*/

body {
  color: var(--body-default-colour);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-background-colour);
}

/*
 SCREEN READER UTILITY
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
