/*
  CSS FILE
*/

/*
 VARIABLES
*/
:root {
  /*
    Core colours
    https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
  */

  --colour-purple-darkest: #1a001c;

  --colour-purple: #6e1870;

  --colour-purple-light: #cdb4db;
  --colour-pink-light: #ffc8dd;
  --colour-pink: #ffafcc;
  --colour-blue-light: #bde0fe;
  --colour-blue: #a2d2ff;
  --colour-blue-dark: #314354;
  --colour-beige: #f8faf9;
  --colour-white: #fcfffe;

  /* Header configuration */
  --header-heading-colour: var(--colour-purple-light);
  --header-background-colour: var(--colour-purple-darkest);

  /* Body configuration */
  --body-default-colour: var(--colour-purple-light);
  --body-background-colour: var(--colour-purple-darkest);
}

/*
 BODY
*/

body {
  color: var(--body-default-colour);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-background-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}

p#message {
  margin: 2rem;
  text-align: center;
  font-weight: 600;
}

/*
 SCREEN READER UTILITY
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
